*
{
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
.wrapper {
  width: 1600px;
  font-family: sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-image: url(images/HeaderBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
}

.logo {
  background-image: url(images/Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 68px;
  width: 68px;
  float: left;
  margin-top: 70px;
  margin-left: 210px;
}

nav {
  float: right;
  margin-right: 210px;
  margin-top: 90px;
  color: white;
}

.menu-link {
  display: inline-block;
  line-height: 50px;
}

.menu-link a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.menu-link:hover {
  background-image: url(images/BlueLine.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.menu-link:last-child:hover {
  background-image: none;
}

.join {
  width: 130px;
  height: 50px;
  background-color: #a100ff;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.join img {
  vertical-align: middle;
  padding-left: 10px;
}

.join:hover {
  opacity: .9;
}

.main {
  width: 665px;
  height: 590px;
  margin-left: 210px;
  margin-top: 180px;
}

.main-title {
  font-size: 60px;
  margin-bottom: 85px;
  color: white;
}

.main-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.design-style, .email {
  height: 60px;
  width: 255px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 25px;
}

.main-form {
  float: left;
}

.send {
  height: 60px;
  width: 60px;
  float: right;
  border-radius: 5px;
  background-color: #28c8c6;
  border: none;
  background-image: url(images/ArrowRight.png);
  background-repeat: no-repeat;
  background-position: center;
}

.send:hover {
  opacity: .9;
}

.design-style {
  background-image: url(images/Dropdown.png);
  background-repeat: no-repeat;
  background-position: right 10% center;
}

.email {
  background-image: url(images/ArrowBlue.png);
  background-repeat: no-repeat;
  background-position: right 10% center;
}

.latest-design-stye {
  background-image: url(images/LatestDesignBakcground.png);
  background-size: auto;
  position: relative;
  height: 531px;
  overflow: visible;
}

.scroll-down-bubbles {
  height: 110px;
  width: 110px;
  position: absolute;
  right: 743px;
  top: -55px;
  border-radius: 50% 50%;
  background-image: url(images/LatestDesignBakcground.png);
  background-size: auto;
  background-position: 3px 5px;
}

.scroll-down-grey {
  height: 110px;
  width: 110px;
  position: absolute;
  background-image: url(images/ScrollDown1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.latest-design-stye-title {
  font-size: 40px;
  color: #333b42;
  padding-top: 115px;
  text-align: center;
}

.latest-design-stye-text {
  width: 685px;
  color: #74797e;
  font-size: 14px;
  text-align: center;
  padding-left: 450px;
  padding-top: 30px;
}

.iPhone {
  width: 423px;
  height: 238px;
  background-image: url(images/iPhone.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 588px;
  margin-top: 70px;
}

.scroll-down-turquoise {
  height: 110px;
  width: 110px;
  position: absolute;
  right: 743px;
  background-color: #28c8c6;
  border-radius: 50% 50%;
  background-image: url(images/ScrollDown2.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -55px;
}

.features-of-app {
  height: 775px;
  top: -150px;
}
