*
{
  margin: 0;
  padding: 0;
}
.clearfix {
  clear: both;
}
.wrapper {
  width: 1600px;
  font-family: sans-serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-image: url(images/HeaderBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
}

.logo {
  background-image: url(images/Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 68px;
  width: 68px;
  float: left;
  margin-top: 70px;
  margin-left: 210px;
}

nav {
  float: right;
  margin-right: 210px;
  margin-top: 90px;
  color: white;
}

.menu-link {
  display: inline-block;
  line-height: 50px;
}

.menu-link a {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.menu-link:hover {
  background-image: url(images/BlueLine.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.menu-link:last-child:hover {
  background-image: none;
}

.join {
  width: 130px;
  height: 50px;
  background-color: #a100ff;
  font-size: 16px;
  color: white;
  padding-right: 30px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  background-image: url(images/ArrowRight.png);
  background-repeat: no-repeat;
  background-position: right 20% center;
}

.join:hover {
  opacity: .9;
  cursor: pointer;
}

.main {
  width: 665px;
  height: 590px;
  margin-left: 210px;
  margin-top: 180px;
}

.main-title {
  font-size: 60px;
  margin-bottom: 85px;
  color: white;
}

.main-text {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.design-style, .email {
  height: 60px;
  width: 255px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 25px;
}

.main-form {
  float: left;
}

.send {
  height: 60px;
  width: 60px;
  float: right;
  border-radius: 5px;
  background-color: #28c8c6;
  border: none;
  background-image: url(images/ArrowRight.png);
  background-repeat: no-repeat;
  background-position: center;
}

.send:hover {
  opacity: .9;
}

.design-style {
  background-image: url(images/Dropdown.png);
  background-repeat: no-repeat;
  background-position: right 10% center;
}

.email {
  background-image: url(images/ArrowBlue.png);
  background-repeat: no-repeat;
  background-position: right 10% center;
  padding-right: 50px;
  width: 205px;
}

.latest-design-stye {
  background-image: url(images/LatestDesignBakcground.png);
  background-size: auto;
  position: relative;
  height: 531px;
  overflow: visible;
}

.scroll-down-bubbles {
  height: 110px;
  width: 110px;
  position: absolute;
  right: 743px;
  top: -55px;
  border-radius: 50% 50%;
  background-image: url(images/LatestDesignBakcground.png);
  background-size: auto;
  background-position: 3px 5px;
}

.scroll-down-grey {
  height: 110px;
  width: 110px;
  position: absolute;
  background-image: url(images/ScrollDownGrey.png);
  background-repeat: no-repeat;
  background-position: center;
}

.latest-design-stye-title {
  font-size: 40px;
  color: #333b42;
  padding-top: 115px;
  text-align: center;
}

.latest-design-stye-text {
  width: 685px;
  color: #74797e;
  font-size: 14px;
  text-align: center;
  padding-left: 450px;
  padding-top: 30px;
}

.iPhone {
  width: 423px;
  height: 238px;
  background-image: url(images/iPhone.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 588px;
  margin-top: 70px;
}

.scroll-down-turquoise {
  height: 110px;
  width: 110px;
  position: absolute;
  right: 743px;
  background-color: #28c8c6;
  border-radius: 50% 50%;
  background-image: url(images/ScrollDownWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: -55px;
}

.features-of-app {
 position: relative;
 border-bottom: 1px solid #d8e0e8;
}

.features-of-app-title {
  text-align: center;
  font-size: 30px;
  color: #333b42;
  margin-top: 160px;
}

.features-of-app-text {
  text-align: center;
  font-size: 14px;
  color: #74797e;
  margin-top: 30px;
  margin-left: 450px;
  width: 660px;
}

.features-list {
  margin-top: 55px;
  text-align: center;
  margin: 55px auto 30px;
}

.features-list li {
  display: inline-block;
  width: 280px;
  height: 400px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.fiolet-circle {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background-color: #8500d2;
  margin: 0 auto;
}

.shop-basket .fiolet-circle {
  background-image: url(images/ShopBasket.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sending .fiolet-circle {
  background-image: url(images/Sending.png);
  background-repeat: no-repeat;
  background-position: center;
}

.exchange .fiolet-circle {
  background-image: url(images/Exchange.png);
  background-repeat: no-repeat;
  background-position: center;
}

.laptop .fiolet-circle {
  background-image: url(images/Laptop.png);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-titles {
  display: block;
  margin-top: 35px;
  font-size: 17px;
  font-weight: bold;
  color: #333b42;
}

.features-list-texts {
  margin-top: 35px;
  font-size: 14px;
  color: #74797e;
}

.scroll-down-with-border {
  height: 110px;
  width: 110px;
  position: absolute;
  right: 743px;
  background-color: #white;
  border-radius: 50% 50%;
  bottom: -56px;
  border-bottom: 1px solid #d8e0e8;
  border-left: 1px solid #d8e0e8;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(-45deg);
}

.scroll-down-with-border-grey {
  height: 110px;
  width: 110px;
  position: absolute;
  background-image: url(images/ScrollDownGrey.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
}

.design-guidelines {
  background-color: #f6f9fa;
}
